/* Configuración básica de la página */
body { 
    margin: 0; 
    padding: 0; 
    overflow: hidden;
    width: 100vw !important; 
    height: 100vh !important; 	
    background-color: black;
    overscroll-behavior: none;
    touch-action: none; 
}

/* El lienzo (canvas) del juego estirado a pantalla completa */
canvas { 
    position: absolute;
    top: 0;
    left: 0;
   
    image-rendering: pixelated; /* Fuerza el pixelado estilo retro */
    object-fit: fill; 
}

/* Interfaz de usuario */
#ui { 
    position: absolute; 
    top: 10px; 
    left: 10px; 
    color: white; 
    font-family: monospace; 
    background: rgba(0,0,0,0.5); 
    padding: 10px; 
    border: 1px solid #555; 
    z-index: 100; 
    pointer-events: none;
}

/* Contenedores de los Joysticks */
.joystick-area { 
    position: absolute; 
    bottom: 30px; 
    width: 120px; 
    height: 120px; 
    background: rgba(255,255,255,0.1); 
    border-radius: 50%; 
    z-index: 50; 
}

#moveJoystick { left: 30px; }
#lookJoystick { right: 30px; }

/* El "botón" del joystick */
.joystick-knob { 
    position: absolute; 
    top: 50%; 
    left: 50%; 
    width: 50px; 
    height: 50px; 
    background: rgba(255,255,255,0.3); 
    border-radius: 50%; 
    transform: translate(-50%, -50%); 
    pointer-events: none; 
}
